body,
html {
  margin: 0;
  padding: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  box-sizing: border-box;
}

.contenedor-ingresos-egresos {
  margin-top: 1%;
  width: 40vw;
  height: 42vh;
}

.registros {
  width: 100%;
  height: 35vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}

/*tamaño de la barra desplazadora*/
.registros::-webkit-scrollbar {
  width: 15px;
}

/*Color de la pista de la desplazadora*/
.registros::-webkit-scrollbar-track {
  background: #f4f4f4;
}

/*Color de la parte desplazable*/
.registros::-webkit-scrollbar-thumb {
  background-color: #999999;
  border-radius: 5px;
}

.registros::-webkit-scrollbar-thumb:hover {
  background-color: #555454;
}

.registro-descripcion {
  color: rgb(85, 85, 85);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  height: 100%;
  width: 70%;
  margin-left: 2%;
}

.resgitro-valor {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(85, 85, 85);
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  height: 100%;
  width: 30%;
  margin-left: auto;
}
