.contenedor-registros {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  width: auto;
  height: 20vw;
}

.grafica-container {
  margin-top: 1%;
  width: 100;
  display: flex;
  justify-content: center;
}
